* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainHeader {
  padding: 10px;
  text-align: left;
  background-image: url('https://capturedtracks.com/files/Wild-Nothing-Thumbnail-Website.jpg');
  background-size: cover;
  color: white;
  font-size: 30px;
}

.mainHeader p { 
  font-size: 150px;
}
