* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  background-image: url('https://media.vanityfair.com/photos/5b86dbc14242d94606988409/master/pass/wild-nothing-lede.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 50vh;
  min-width: 40vw;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.banner p { 
  font-size: 60px;
  margin-left: 25px;
}
